<!--{% extends "base.html" %}-->
<!--{% block title %}Login System{% endblock %}-->

<!--{% block content %}-->
<!--<table align="left" border="1" cellpadding="3" cellspacing="0">-->
<!--<script>-->

<!--</script>-->
<!--&lt;!&ndash;    {% for item in transactions.values %}&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{ item }}</td>&ndash;&gt;-->

<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
<!--</table>-->
<!--{% endblock %}-->